body {
    background-color:blue;
    font-family: 'Arial', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color:green;
    padding: 30px;
    border: 1px solid #555;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,1,0,0.5);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.result-box {
    background-color: #333300;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #999;
}

input, select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    opacity: 0.8;
}

button:first-of-type {
    background-color: #0097a7;
    color: #fff;
}

.reset-btn {
    background-color: #c49b00;
    color: white;
}
